* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body {
  font-family: Roboto, sans-serif;
  background: #f2f3f5;
}

h1 {
  color: #000;
}

@media(max-width: 1080px){
  html {
      font-size: 93.75%;
  }
}
